body{
    background-color: #031927;
}

header{
    margin-bottom: 50px;
}

.nav-link{
    margin-left: 10px;
}

.image-profile{
    box-shadow: 22px 23px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 22px 23px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 23px 5px 0px rgba(0,0,0,0.75);
}
